.toc__ol___2jncs {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.toc__ol___2jncs > li:nth-child(even) { background-color: #f2f2f2; }

.toc__btn___2t4EE {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  font: 400 1.25rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
  text-align: left;
}

.toc__btn___2t4EE:hover,
.toc__btn___2t4EE:focus {
  background-color: #e5e5e5;
}
.radio__radio-container___hpD7O {
  display: flex;
  width: 100%;
  padding: 0;
  border: none;
  margin: 0;
  flex: 1 1 100%;
}

.radio__wrapper___3g8F1 { flex: 1 2 auto; }

.radio__wrapper___3g8F1:first-of-type > label { border-radius: 5px 0 0 5px; }

.radio__wrapper___3g8F1:last-of-type > label { border-radius: 0 5px 5px 0; }

.radio__label___HuwFK {
  position: relative;
  z-index: 5;
  display: block;
  padding: 7px;
  font: 400 .875rem/1 'Arial', 'sans-serif';
  text-align: center;
  cursor: pointer;
  background-color: #f2f2f2;
}

.radio__label___HuwFK:focus,
.radio__label___HuwFK:hover {
  background-color: #e5e5e5;
}

.radio__input___1rQyR {
  position: absolute;;
  left: -1000in;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.radio__input___1rQyR:checked + label {
  background-color: #e5e5e5;
}

@media all and (min-width: 768px) {
  .radio__radio-container___hpD7O {
    box-sizing: border-box;
    flex: 1 1 50%;
    padding-top: 30px;
    padding-right: 15px;
  }
}
.toc-container__form___ikgTx {
  display: flex;
  flex-wrap: wrap;
  max-width: 725px
}

.toc-container__input-wrapper___2xYcs {
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 1 100%;
  /*display: inline-block;*/
  /* margin-right: 10px; */
}

.toc-container__label___1jGEs {
  display: block;
  margin-bottom: 5px;
  font: 400 .75rem/1 'Arial', 'sans-serif';
  letter-spacing: .02em;
  text-align: left;
  color: #808080;
}

.toc-container__input___30lBE {
  /*width: 15em;*/
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  font: 200 1rem/1 'Arial', 'sans-serif';
  text-transform: capitalize;
  letter-spacing: .02em;
  color: #b3b3b3;
}

@media all and (min-width: 768px) {
  .toc-container__input-wrapper___2xYcs {
    box-sizing: border-box;
    flex: 1 1 50%;
    padding-left: 15px;
  }
}
.table__score-table___zCfL9 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 5px;
}

.table__score-table___zCfL9 td {
  width: 16.66666%;
  text-align: center;
}
.monster__monster___2rnEL {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  padding: 2vh;
  /* border-left: 2px solid #f2f2f2; */
  font: 400 .875rem/1.4 'Helvetica', 'Arial', 'sans-serif';
  background-color: #fff;
  transition: right .3s ease-in-out;
}

@media all and (min-width: 1000px) {
  .monster__monster___2rnEL {
    min-width: 500px;
    max-width: 25%;
  }
}

.monster__hide___m_Lsl { right: -100%; }

.monster__lined-section___9ZJos {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.monster__monster-name___2la3- {
  font: 400 1.75rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
}

.monster__monster-section___3XDm_ {
  margin-top: 25px;
  margin-bottom: 15px;
  font: 700 1.125rem/1 'Helvetica', 'Arial', 'sans-serif';
}

.monster__monster-type___1ot4H {
  font-style: italic;
}

.monster__monster-control-bar___37E0- {
  position: absolute;
  top: 2vh;
  right: 2vh;
  text-align: right;
}

.monster__stat-defs___j1CAo,
.monster__stat-defs-lg___YCt4l {
}
.monster__stat-defs___j1CAo > dt,
.monster__stat-defs-lg___YCt4l > dt {
  padding-right: 7px;
  float: left;
  font-weight: 700;
}
.monster__stat-defs-lg___YCt4l > dt:after {
  content: '.';
}
.monster__stat-defs___j1CAo > dd {
  margin-bottom: 3px;
  clear: right;
}
.monster__stat-defs-lg___YCt4l > dd {
  margin-bottom: 10px;
  clear: right;
}
.button__btn___Pb2PJ {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  font: 400 1.25rem/1 'Arial', 'sans-serif';
  text-align: center;
  background-color: #eee;
}

.button__btn___Pb2PJ:hover {
  background-color: #d4d4d4;
}

.button__btn-toc___3M2Ge {
  width: 100%;
  font: 400 3rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
  text-align: left;
}
.modal__overlay___1DwVs {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
}

.modal__wrapper___3TVjV {
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  padding: 50px;
  margin-left: -187px;
  margin-top: -124px;
  background-color: #fff;
}

.modal__wrapper___3TVjV > button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.add-monster__form___LUPHZ > fieldset {
  padding: 20px 0 0 0;
  border: 0;
  margin: 0;
}

.add-monster__form___LUPHZ > fieldset > legend {
  font: 400 1.25rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
}

.add-monster__wrapper___2DZWr { margin-bottom: 10px; }

.add-monster__label___kPZYn {
  display: inline-block;
  width: 135px;
  font: 400 .875rem/1 'Helvetica', 'Arial', 'sans-serif';
}

.add-monster__input___3UorW { padding: 5px; }

.add-monster__btn___2kRUL {
  padding: 10px;
  font: 400 .875rem/1 'Helvetica', 'Arial', 'sans-serif';
  background-color: #eee;
}

.add-monster__btn___2kRUL:hover { background-color: #d4d4d4; }
.slide-panel__panel___ocNHN {
  box-sizing: border-box;
  position: fixed;
  z-index: 11;
  width: 50%;
  padding: 25px 50px 25px 25px;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  transition-timing-function: ease;
  transition-duration: .3s;
}

.slide-panel__panel___ocNHN.slide-panel__top___3g4Sm {
  top: -100%;
  left: 25%;
  transition-property: top;
}

.slide-panel__panel___ocNHN.slide-panel__top___3g4Sm.slide-panel__show___3AfDO { top: 0; }

.slide-panel__panel___ocNHN > button {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -12px;
}
.hpblock__ol___1iluk li { margin-bottom: 5px; }

.hpblock__ol___1iluk input { margin-left: 5px; }

.hpblock__hp___2k5M1 {
  display: inline-block;
  width: 2rem;
}
.xp-calculator__calc___10kKk {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.xp-calculator__calc___10kKk input {
  margin-left: .5rem;
  margin-right: .5rem;
}
.hptrack__btn___GNca1 {
  padding-top: 8px;
  padding-bottom: 8px;
  font: 400 1.25rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
  text-align: left;
}

.hptrack__btn___GNca1:hover,
.hptrack__btn___GNca1:focus {
  text-decoration: underline;
}
body,
html {
  margin: 1vw;
  padding: 0;
}

@media all and (min-width: 1000px) {
  body,
  html {
    margin: 10px;
  }
}

/* Reset */
h1,
h2,
p,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

/* Buttons */
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
button:focus,
label:focus {
  border: none;
  outline: none;
}
