.btn {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  font: 400 1.25rem/1 'Arial', 'sans-serif';
  text-align: center;
  background-color: #eee;
}

.btn:hover {
  background-color: #d4d4d4;
}

.btn-toc {
  width: 100%;
  font: 400 3rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
  text-align: left;
}
