body,
html {
  margin: 1vw;
  padding: 0;
}

/* Reset */
h1,
h2,
p,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

/* Buttons */
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
button:focus,
label:focus {
  border: none;
  outline: none;
}
