.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  font: 400 1.25rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
  text-align: left;
}

.btn:hover,
.btn:focus {
  text-decoration: underline;
}
