.monster {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  width: 25%;
  min-width: 350px;
  height: 100vh;
  padding: 2vh;
  border-left: 2px solid #f2f2f2;
  font: 400 .875rem/1.4 'Helvetica', 'Arial', 'sans-serif';
  transition: right .3s ease-in-out;
}

.hide { right: -25%; }

.lined-section {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.monster-name {
  font: 400 1.75rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
}

.monster-section {
  margin-top: 25px;
  margin-bottom: 15px;
  font: 700 1.125rem/1 'Helvetica', 'Arial', 'sans-serif';
}

.monster-type {
  font-style: italic;
}

.monster-control-bar {
  position: absolute;
  top: 2vh;
  right: 2vh;
  text-align: right;
}

.monster-control-btn {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  font: 400 1.25rem/1 'Arial', 'sans-serif';
  text-align: center;
  background-color: #eee;
}
.monster-control-btn:hover {
  background-color: #d4d4d4;
}

.stat-defs,
.stat-defs-lg {
}
.stat-defs > dt,
.stat-defs-lg > dt {
  padding-right: 7px;
  float: left;
  font-weight: 700;
}
.stat-defs-lg > dt:after {
  content: '.';
}
.stat-defs > dd {
  margin-bottom: 3px;
  clear: right;
}
.stat-defs-lg > dd {
  margin-bottom: 10px;
  clear: right;
}
