.input-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  /*display: inline-block;*/
  /* margin-right: 10px; */
}

.label {
  display: block;
  margin-bottom: 5px;
  font: 400 .75rem/1 'Arial', 'sans-serif';
  letter-spacing: .02em;
  text-align: left;
  color: #808080;
}

.input {
  /*width: 15em;*/
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  font: 200 1rem/1 'Arial', 'sans-serif';
  text-transform: capitalize;
  letter-spacing: .02em;
  color: #b3b3b3;
}
