.ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.ol > li:nth-child(even) { background-color: #f2f2f2; }

.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  font: 400 1.25rem/1 'Times', 'Times New Roman', 'serif';
  letter-spacing: .03em;
  font-variant: small-caps;
  text-align: left;
}

.btn:hover,
.btn:focus {
  background-color: #e5e5e5;
}

.ll li { margin-bottom: 5px; }

.ll input { margin-left: 5px; }

.hp {
  display: inline-block;
  width: 2rem;
}
