//#monster-list
#monster-list {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20%;
  height: 100vh;
  background-color: #292929;
  color: #fff;
  li {
    border-bottom: 1px solid #1a1a1a;
    &:hover {
      cursor: pointer;
    }
    &:hover,
    &.active {
      border-bottom: 1px solid #292929;
      background-color: #1a1a1a;
    }
  }
  /*
  button {
    width: 100%;
    padding: 25px 15px;
    padding-left: 35px;
    border-bottom: 1px solid #1a1a1a;
    color: #fff;
    text-indent: -20px;
    text-align: left;
    &:hover,
    &.active {
      border-bottom: 1px solid #292929;
      background-color: #1a1a1a;
    }
  }
  .ctrl-icon {
    padding-right: 10px;
  }
  */
}
.control-wrapper {
  position: relative;
  padding: 15px;
}
.button-tray {
  position: absolute;
  top: 0;
  left: -100%;
  button {
    width: 50%;
    padding: 15px;
    font-weight: 500;
    background-color: #ccc;
    &:hover {
      background-color: #999;
      color: #fff;
    }
  }
  &.active {
    right: 0;
    bottom: 0;
    left: 0;
  }
}
