//#monster-list
#monster-list {
  position: fixed;
  top: 27px;
  left: 0;
  box-sizing: border-box;
  width: 20%;
  height: 100vh;
  overflow: scroll;
  background-color: #292929;
  color: #fff;
  li {
    border-bottom: 1px solid #1a1a1a;
    &:hover {
      cursor: pointer;
    }
    &:hover,
    &.active {
      border-bottom: 1px solid #292929;
      background-color: #1a1a1a;
    }
  }
  /*
  button {
    width: 100%;
    padding: 25px 15px;
    padding-left: 35px;
    border-bottom: 1px solid #1a1a1a;
    color: #fff;
    text-indent: -20px;
    text-align: left;
    &:hover,
    &.active {
      border-bottom: 1px solid #292929;
      background-color: #1a1a1a;
    }
  }
  .ctrl-icon {
    padding-right: 10px;
  }
  */
}
.control-wrapper {
  position: relative;
  padding: 15px;
}
.button-tray {
  position: absolute;
  top: 0;
  left: -100%;
  button {
    width: 50%;
    padding: 15px;
    font-weight: 500;
    background-color: #ccc;
    &:hover {
      background-color: #999;
      color: #fff;
    }
  }
  &.active {
    right: 0;
    bottom: 0;
    left: 0;
  }
}


#monster-track {
  position: fixed;
  top: 27px;
  left: 20%;
  box-sizing: border-box;
  width: 30%;
  height: 100vh;
  border-left: 1px solid #808080;
  background-color: #404040;
  overflow: auto;
  color: #fff;
  h1 {
    margin: 15px 0 10px;
    color: #fff;
  }
}
.monster-used {
  padding: 15px;
  border-bottom: 1px solid #505050;
}
.monster-track-control {
  button {
    box-sizing: border-box;
    width: 25%;
    padding: 5px;
    border: 1px solid #6f6f6f;
    color: #fff;
    &:hover {
      background-color: #2f2f2f;
    }
  }
}
.monster-control {
  input { width: 45%; }
  input:first-of-type { width: 15%; }
  button { margin-left: 10px; }
  input,
  button {
    color: initial;
  }
}
.monster-hp-control {
  input {
    margin: 0 10px;
    width: 55%;
  }
  input,
  button {
    color: initial;
  }
}
.hp-block {
  margin-bottom: 5px;
}
.inner-scroll {
  height: 100vh;
  overflow: scroll;
}
