html,
body {
  width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  line-height: 1; }

h2, h3, h4, h5, h6 {
  font-size: 1rem; }

h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: .05em;
  color: #532a1a; }

.table {
  width: 100%;
  text-align: center; }

.monster {
  float: left;
  width: 350px;
  margin: 20px 0 20px 20px;
  font-size: .875rem; }
  .monster-tag {
    font-style: italic; }
  .monster-tactical,
  .monster-skills {
    color: #532a1a; }
    .monster-tactical p,
    .monster-skills p {
      margin-bottom: .5em; }
  .monster-features p,
  .monster-actions p,
  .monster-reactions p {
    margin-top: 1.5em;
    line-height: 1.3; }

.monster {
  position: relative;
  padding: .625rem;
  background-color: #f0e8c7; }
  .monster:before,
  .monster:after {
    position: absolute;
    left: -.5%;
    width: 101%;
    height: 5px;
    border: 1px solid #000;
    display: block;
    background-color: #e3a728;
    content: " "; }
  .monster:before {
    top: -4px; }
  .monster:after {
    bottom: -4px; }

.score-table {
  text-transform: uppercase;
  color: #532a1a; }
